.formControl {
    width: 100%;
    height: 36px;
    font-size: 12px;
    padding-left: 8px;
    line-height: 36px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    background-color: rgba(250, 250, 250, 1);
}

.inputWrapper {
    width:100%;
    margin: 0 0px 8px;
   
}
.main{
    background-color: rgba(var(--b3f,250,250,250),1);
    min-height: 100vh;
}
.formWrapper {
    width: 360px;
    border: 1px solid #dbdbdb;
    margin: 0px 0px 10px;
    padding: 17px 40px;
    display: inline-block;
    background-color: rgba(var(--d87,255,255,255),1);
}

.imgWrapper {
    margin-top: 36px;
    margin-bottom: 13px;
}

.loginBtn {
    width: 100%;
    color: white;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
    opacity: 1;
    background-color: rgba(0, 149, 246, .3);
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 9px;
    line-height: 18px;
}

.or-section {
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
    text-transform: uppercase;
    color: rgba(142, 142, 142, 1);
    position: relative;
    margin: 10px 54px 18px;
}

.or-section::after,
.or-section::before {
    content: ' ';
    position: absolute;
    top: 50%;
    background-color: rgba(219, 219, 219, 1);
    height: 1px;
    width: calc(50% - 25px);
}

.or-section::after {
    left: 0;
}

.or-section::before {
    right: 0;
}

.LogInWithFacebook {
    color: #385185;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.F-section {
    margin-top: 8px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 8px;
}

.fa {
    height: 19px;
    width: 28px;
    color: #385185;
}

.forgotSection {}

.forgotText {
    color: rgba(var(--fe0, 0, 55, 107), 1);
    font-size: 12px;
    line-height: 16px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.DontHaveAccnt {
    color: rgba(var(--i1d, 38, 38, 38), 1);
    font-size: 14px;
    margin: 4px;
    text-align: center;
}

.signUP {
    border: none;
    background-color: white;
    color: #0095f6;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}

.GetTheApp {
    color: rgba(var(--i1d, 38, 38, 38), 1);
    font-size: 14px;
    line-height: 18px;
    margin: 21px 20px 21px 20px;
    text-align: center;
}

.StoreImg {
    width: 140px;
    margin-right: 8px;
}

.footerItems {
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;
    color: rgba(var(--f52, 142, 142, 142), 1);
}

.ItemsPad {
    padding-right: 0px !important;
    padding-left: 0px !important;

}


.as {
    display: -webkit-inline-box;
    white-space: nowrap;

}

ul {
    list-style-type: none;
    padding-left: 12px!important;
    margin-bottom: 9px!important;
}

.phoneImg{
    background-image: url('../Components/images/phoneBackground.png');
    height: 600px;
    width: 442px;
    position:relative;
}
.screen{
    padding-left: 119px;
    padding-top: 25px;
}
.footerWraper{
    padding-top: 100px;
    width: 100%;
    line-height: 1px;
}
.txt_p{
    color: #8e8e8e;
    color: rgba(var(--f52,142,142,142),1);
    font-size: 12px;
    line-height: 16px;   
}
/* .txt_algn{
    margin: 10px 40px;
    text-align: center;
} */
.txt_Ptitle{
    color: #8e8e8e;
    color: rgba(var(--f52,142,142,142),1);
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    /* margin: 0 40px 10px; */
    text-align: center;
}
.logFbBtn{
    width: 280px;
    color: white;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
    opacity: 1;
    background-color: #0095f6;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 9px;
    line-height: 18px;
}
.LearnMore{
    color: #8e8e8e;
    color: rgba(var(--f52,142,142,142),1);
    font-weight: 600;
    text-decoration: none;
}
.Iconsize{
    width: 55px;
    height: 55px;
   
}
.IconWraper{
    height: 100px;
    padding-bottom: 10px;
    border-radius: 50%;
    border: 2px solid black;
    padding: 20px;
    margin-top: -30px;
    width: 100px;
}
.TrbleLogIn{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding-top: 15px;
}
.txt_epu{
    color: #8e8e8e;
    color: rgba(var(--f52,142,142,142),1);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}
.createNewAccnt{
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: #262626;
    color: rgba(var(--f75,38,38,38),1);
}
.BackToLogin{
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: #262626;
    color: rgba(var(--f75,38,38,38),1);  
    height: 44px;
}
.BackToLoginWrapper{
    border: 1px solid #dbdbdb;
    height: 44px;
    margin-top: 50px;
    width: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: -42px;
    
}
.pad{
    padding-bottom: 0px!important;
  
}
.restPassformWrapper{
    width: 380px !important;
   
}
.cardpading{
    padding-top: 40px;
}
.lz6s{
    width: 100%;
    background-color: rgba(var(--d87,255,255,255),1);
    border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
    padding: 20px;
    position: fixed;
}
.left_align{
    text-align: left;
}
.UlListStyle{
    list-style-type: disc;
    line-height: 15px;
    margin-bottom: 6px;
}
.txt_h6{
    font-size: 18px;
    line-height: 24px;
}
.RLPad{
    padding-left: 31px!important;
    width: 380px!important;
    padding-right: 31px!important;
    margin-top: 100px;
}
.NoSignUpBtn{
    color: rgba(var(--d69,0,149,246),1);
    border: none;
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
}